:host {
  display: block;
  --width: 250px;
  --height: 250px;
}

.hero {
  width: var(--width);
  color: white;
  background: #262626;
  padding: 0 5px;

  .name {
    cursor: pointer;
  }

  .with-description:hover .description {
    opacity: 1;
    visibility: visible;
  }

  .images {
    position: relative;
  }

  .description {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2px;
    background: rgba(48, 48, 48, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s opacity, 0.5s visibility;
  }

  img {
    width: var(--width);
    height: var(--height);

    &.indent-top {
      margin-top: 5px;
    }
  }
}
