:host {
  width: 100%;
}

.card-hero {
  --width: 300px;
  --height: 300px;
}

.container {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'hero description'
    'comics comics'
    'series series';
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.card-hero {
  grid-area: hero;
}

.description {
  grid-area: description;
}

.comics {
  grid-area: comics;
}

.series {
  grid-area: series;
}

.comics-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  row-gap: 20px;
  column-gap: 50px;
}

.card-comics {
  --width: 200px;
  --height: 250px;
  --title-size: 14px;
  --title-line-height: 1.2;
  --title-padding: 5px 0 0 0;
}

@media (max-width: 795px) {
  .comics-panel {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .description {
    display: none;
  }

  .comics-panel {
    column-gap: 10px;
  }
}

@media (max-width: 340px) {
  .accordion {
    width: 305px;
  }
}
