<div *ngIf="currentHero$ | async as hero" class="container">
  <app-info-card
    class="card-hero"
    [data]="hero"
    [descriptionIsVisible]="false"
    [titleIsVisible]="false"
  ></app-info-card>

  <div class="description">{{ hero.description || 'No description' }}</div>

  <app-accordion-panel class="comics" [data]="comics$ | async" [title]="'Comics'" (openPanel)="openComics()">
    <app-info-card
      *ngFor="let comics of comics$ | async"
      class="card-info"
      [data]="comics"
      [descriptionIsVisible]="false"
    ></app-info-card>
  </app-accordion-panel>

  <app-accordion-panel class="series" [data]="series$ | async" [title]="'Series'" (openPanel)="openSeries()">
    <app-info-card
      *ngFor="let series of series$ | async"
      class="card-info"
      [data]="series"
      [descriptionIsVisible]="false"
    ></app-info-card>
  </app-accordion-panel>

  <app-accordion-panel
    class="stories"
    [data]="stories$ | async"
    [title]="'Stories'"
    [displayColumnContent]="true"
    (openPanel)="openStories()"
  >
    <app-history-card *ngFor="let stories of stories$ | async" class="card-comics" [data]="stories"></app-history-card>
  </app-accordion-panel>

  <app-accordion-panel
    class="events"
    [data]="events$ | async"
    [title]="'Events'"
    [displayColumnContent]="true"
    (openPanel)="openEvents()"
  >
    <app-history-card *ngFor="let event of events$ | async" class="card-comics" [data]="event"></app-history-card>
  </app-accordion-panel>
</div>
