<div class="container">
  <div class="content">
    <div *ngFor="let hero of heroes$ | async; trackBy: trackByFn" class="hero">
      <app-info-card [data]="hero" (chooseHero)="chooseHero($event)"></app-info-card>
    </div>
  </div>
  <button
    *ngIf="(heroes$ | async)?.length"
    mat-raised-button
    color="accent"
    [disabled]="loaderIsVisible"
    (click)="loadMoreData()"
  >
    Load more data
  </button>
  <mat-progress-bar *ngIf="loaderIsVisible" mode="indeterminate"></mat-progress-bar>
</div>
